
.MattiaMorgavi{
    position: relative; 
    
    left: 600px;
    max-width: 100% !important;
height: auto !important;
   
}
.nav-menu{
    width: 500px;
margin: 0 auto;
}
.nav-menu a{

    float: left;
    
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 15px;
}
.images{
width: 33%;
}
h2{

    text-align: center;
}
p{

    max-width: 800px;
    margin: auto;
    font-size: 15px;
}